h1{
    font-family: 'Courier New', Courier, monospace;
}



table{
    border: 1px solid;
    border-collapse: collapse;
    width: 30%;
    height: 60%;
    margin: auto;
}

th{
    color: rgb(72, 110, 143); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2rem;   
}

td{
    border: 1px solid;
    width: 15%;
    text-align: center;

}